.container-base {
  height: 550px;
  width: auto;
  /* background: black; */

  display:grid;
  grid-template-columns: 1fr 1fr;
  flex-flow: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_questions-list{
  width: 300px;
  height: auto;

  overflow: scroll;

  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.questions-list_delete-button{
  margin: 5px;
}

.questions-list{
  padding: 0;
  margin: 0;

  list-style-type: none;
  /* list-style-position: inside; */

  display: flex;
  flex-flow: column;
  align-items: left;
  justify-items: left;
}

.questions-list li{
  border-style: none none solid none;
  border-width: 2px;
  border-color: black;

  height: 2.5vh;
  /* não sei se eu deixo assim, ainda tenho preconceito com vh */

  overflow: hidden;
}

.export-button{
  margin-top: 3rem;
  font-size: x-large;
}

.container_inputs{
  display: flex;
  align-items: center;
  flex-flow: column;
}

.container_inputs label{
  padding-bottom: 0.4rem;
}

.container_inputs input{
  margin-bottom: 1rem;
}

.button-back {
  font-size: 1.5rem;
  position: absolute;
  margin: 0.5rem;
}